.bar-container {
  position: relative;
  color: black;
  height: 100px;
}

.bar {
  background-color: red;
  height: 100%;
}

.bar-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-container {
  width: 750px;
  height: 5px;
  background-color: gray;
  margin-top: 20px;
}

.progress-duration {
  margin-left: 10px;
}